.card
  $base_border: 1px
  $border_diff: 3px
  
  box-sizing: border-box
  border: $base_border solid #f0f
  border-radius: 3px
  min-height: 4rem
  padding: $border_diff
  margin: 0.125rem 0 0.125rem 0
  font-size: 0.7rem
  background-color: #f0f
  overflow: hidden

  .spotlight
    text-align: left
    font-size: 0.75rem
    margin: 3px
    padding: 0

  &.hovered
    border-color: #6f6

  &.minor.minor, &.major.major
    &.neighbor_hover.neighbor_hover
      border-width: $base_border + $border_diff
      border-color: #66f
      padding: 0

  &.major
    border-color: #cc0
    background-color: #220
  
  &.minor
    &.wands
      border-color: #4a8
      background-color: #152
    &.cups
      border-color: #b44
      background-color: #611
    &.pentacles
      border-color: #fb4
      background-color: #442
    &.swords
      border-color: #48f
      background-color: #125